In [1]:
import pandas as pd

### 2018
data_all = pd.read_csv('2018option.csv')
data_all.head()
end_of_month = ['2018-01-31', '2018-02-28', '2018-03-29','2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30', '2018-12-31']

### 2019
data_all = pd.read_csv('2019option.csv')
data_all.head()
end_of_month = ['2019-01-31', '2019-02-28', '2019-03-29','2019-04-30', '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31']

### 2020
data_all = pd.read_csv('2020option.csv')
data_all.head()
end_of_month = ['2020-01-31', '2020-02-28', '2020-03-31','2020-04-30', '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31']

### 2021
data_all = pd.read_csv('2021option.csv')
data_all.head()
end_of_month = ['2021-01-29', '2021-02-26', '2021-03-31','2021-04-30', '2021-05-28', '2021-06-30', '2021-07-30', '2021-08-31', '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31']

In [2]:
### 2022
data_all = pd.read_csv('2022option.csv')
data_all.head()
end_of_month = ['2022-01-31', '2022-02-28', '2022-03-31','2022-04-29', '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30']

In [3]:
monthly_data = data_all[(data_all['date'].isin(end_of_month))]
call_data = pd.DataFrame(monthly_data[monthly_data['cp_flag'] == 'C']).reset_index(drop=True)
put_data = pd.DataFrame(monthly_data[monthly_data['cp_flag'] == 'P']).reset_index(drop=True)

In [4]:
## number of stocks
len(data_all['secid'].unique())

6266

In [5]:
## compute call option data
call_average = call_data['impl_volatility'].mean()
call_sd = call_data['impl_volatility'].std()
pd.DataFrame({
    'CVOL Avarage':[call_average],
    'CVOL stdev':[call_sd]
})

   CVOL Avarage  CVOL stdev
0      0.950755    1.260986

In [6]:
## compute put option data
put_average = put_data['impl_volatility'].mean()
put_sd = put_data['impl_volatility'].std()
pd.DataFrame({
    'PVOL Avarage':[put_average],
    'PVOL stdev':[put_sd]
})

   PVOL Avarage  PVOL stdev
0      0.930471    1.257467

In [7]:
## compute IV spread data
IVS = pd.DataFrame({
    'Ticker':call_data['ticker'],
    'impl_volatility_spread':call_data['impl_volatility']-put_data['impl_volatility']
})
IVS_average = IVS['impl_volatility_spread'].mean()
IVS_sd = IVS['impl_volatility_spread'].std()
pd.DataFrame({
    'IVS Avarage':[IVS_average],
    'IVS stdev':[IVS_sd]
})

   IVS Avarage  IVS stdev
0     0.020284   0.853781

In [8]:
call_data

,secid,date,days,delta,impl_volatility,cp_flag,cusip,ticker,index_flag
0,5139,2022-01-31,30,50,0.503140,C,12476510,CAE,0
1,5139,2022-02-28,30,50,0.555221,C,12476510,CAE,0
2,5139,2022-03-31,30,50,0.597452,C,12476510,CAE,0
3,5139,2022-04-29,30,50,0.636529,C,12476510,CAE,0
4,5139,2022-05-31,30,50,0.627191,C,12476510,CAE,0
...,...,...,...,...,...,...,...,...,...
69629,218013,2022-12-30,30,50,0.418746,C,02358650,UHAL,0
69630,218022,2022-12-30,30,50,4.139822,C,68218J10,OABI,0
69631,218066,2022-11-30,30,50,2.667061,C,G6693P10,NWTN,0
69632,218088,2022-12-30,30,50,0.308798,C,37960A76,FYLG,0
69633,218089,2022-12-30,30,50,0.265409,C,37960A75,HYLG,0

In [9]:
put_data

,secid,date,days,delta,impl_volatility,cp_flag,cusip,ticker,index_flag
0,5139,2022-01-31,30,-50,0.499012,P,12476510,CAE,0
1,5139,2022-02-28,30,-50,0.461168,P,12476510,CAE,0
2,5139,2022-03-31,30,-50,0.470357,P,12476510,CAE,0
3,5139,2022-04-29,30,-50,0.574063,P,12476510,CAE,0
4,5139,2022-05-31,30,-50,0.618653,P,12476510,CAE,0
...,...,...,...,...,...,...,...,...,...
69629,218013,2022-12-30,30,-50,0.395672,P,02358650,UHAL,0
69630,218022,2022-12-30,30,-50,1.854591,P,68218J10,OABI,0
69631,218066,2022-11-30,30,-50,3.058206,P,G6693P10,NWTN,0
69632,218088,2022-12-30,30,-50,0.308798,P,37960A76,FYLG,0
69633,218089,2022-12-30,30,-50,0.336989,P,37960A75,HYLG,0